<%- include("partials/header") -%>
    <div id="heading">
        <button class="loginbtn" onClick="location.href='/login'">
            <p>Login</p>
        </button>
        <div class="box">
            <h2>Steak Restaurant</h2>
        </div>
    </div>
    <div class="row" style="margin:0;">
        <div class="col-lg-4 col-sm-12" style="text-align: center;">
            <img src="/images/menu/appetizers.jpg">
            <a style="margin-bottom: 0;" href="/appetizer">Apptizer</a>
            <hr style="border-top: 2px solid gray;width: 100px;margin: 0 auto;">
            <img src="/images/menu/maindishes.jpeg">
            <a style="margin-bottom: 0;" href="/maindish">Main Dish</a>
            <hr style="border-top: 2px solid gray;width: 100px;margin: 0 auto;">
            <img src="/images/menu/desserts.jpeg">
            <a style="margin-bottom: 0;" href="/dessert">Dessert</a>
            <hr style="border-top: 2px solid gray;width: 100px;margin: 0 auto;">
            <img src="/images/menu/drinks.jpeg">
            <a style="margin-bottom: 0;" href="/drinks">Drinks</a>
            <hr style="border-top: 2px solid gray;width: 100px;margin: 0 auto;">
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="box" style="margin: 30px auto;height: 40px;width: 200px;">
                <p>Table number</p>
            </div>
            <div class="box" style="height: 400px;width: 400px;border-radius: 75px;">
                <p>your table</p>
                <div class="box" style="height: 50px;width: 50px; background-color: rgb(53, 180, 53);">
                    <p>
                        <%= table %>
                    </p>
                </div>
                <form action="/" method="post">
                    <button class="box inline" type="submit" name="table" value="1">
                        <p>1</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="2">
                        <p>2</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="3">
                        <p>3</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="4">
                        <p>4</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="5">
                        <p>5</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="6">
                        <p>6</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="7">
                        <p>7</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="8">
                        <p>8</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="9">
                        <p>9</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="10">
                        <p>10</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="11">
                        <p>11</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="12">
                        <p>12</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="13">
                        <p>13</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="14">
                        <p>14</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="15">
                        <p>15</p>
                    </button>
                    <button class="box inline" type="submit" name="table" value="16">
                        <p>16</p>
                    </button>
                </form>
            </div>
            <form action="/checkedout" method="post">
                <button class="box" style="margin: 30px auto;height: 40px;width: 200px; background-color: orange;" type="submit">
                    <p>Checked out</p>
                </button>
            </form>
        </div>

        <div class="col-lg-4 col-sm-12" style="border-left: 2px solid gray; text-align: center;padding-top: 20px;">
            <button class="box" style="height: 50px;width: 50px;border-radius: 75px; padding: 0;" onClick="location.href='/'">
                <img src="/images/login/refresh.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
            </button>
            <h4>Order Status</h4>
            <div class="box" style="height: 400px;width: 450px;border-radius: 75px;margin-top: 20px;">
                <div class="table-wrapper-scroll-y scrollbar-home">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Food</th>
                                <th scope="col">Price</th>
                                <th scope="col">qty</th>
                                <th scope="col">Status</th>
                                <th scope="col">Dlete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% foods.forEach(food => { %>
                                <form action="/deleteFood" method="post">
                                    <tr>
                                        <td>
                                            <%= food.food.name  %>
                                        </td>
                                        <td>
                                            <%= food.food.price %>
                                        </td>
                                        <td>
                                            <%= food.qty %>
                                        </td>
                                        <td>
                                            <%= food.status %>
                                        </td>
                                        <td><button class="box" style="height: 25px;width: 60px;color: red;" type="submit" name="deletebtn" value="<%= food.food.id %> ">delete</button></td>
                                    </tr>
                                </form>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <%- include( "partials/footer") -%>