<%- include("partials/header") -%>
    <div id="heading">
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin-top:25px; padding: 0;float: left;" onClick="location.href='/'">
            <img src="/images/login/home.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <button class="box" style="height: 60px;width: 60px;border-radius: 75px; margin:25px 25px 0 25px; padding: 0;float: left;" onClick="location.href='/kitchen'">
            <img src="/images/login/refresh.jpg" style="height: 25px;width: 25px;border-radius: 0;box-shadow: none;">
        </button>
        <div class="box">
            <h2>Order List</h2>
        </div>
    </div>
    <div class="row">
        <% tables.forEach(table => { %>
            <% if (table.foods.length !== 0) { %>
                <div class="box col-lg-6 col-sm-12" style="max-width: 700px; height: 350px;margin-top: 50px;">
                    <p>Table
                        <%= table.table_no %>
                    </p>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Food</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">qty</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% table.foods.forEach(food => { %>
                                    <tr>
                                        <td>
                                            <%= food.food.name  %>
                                        </td>
                                        <td>
                                            <%= food.food.price %>
                                        </td>
                                        <td>
                                            <%= food.qty %>
                                        </td>
                                        <td>
                                            <form action="/statusChange" method="post">
                                                <input name="id" value="<%= food.food.id %>" type="hidden">
                                                <button class="btn btn-secondary" type="submit text" name="status" value="ordered">
                                                ordered
                                                </button>
                                                <button class="btn btn-primary" type="submit text" name="status" value="cooking">
                                                cooking
                                                </button>
                                                <button class="btn btn-success" type="submit text" name="status" value="served">
                                                served
                                                </button>
                                            </form>
                                            <span style="font-weight: bolder;">
                                                <%= food.status %>
                                            </span>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="box" style="width: 200px;height: 30px;">
                        <h5>
                            Total price:
                            <%= table.totalPrice %>
                                Bath
                        </h5>
                    </div>
                </div>

                <% } %>
                    <% }) %>
    </div>
    <%- include("partials/footer") -%>